:root {
    --prog-bg: #e0e0e0;

    --rate-again: #a50026;
    --rate-hard: #fdbe70;
    --rate-good: #b6e076;
    --rate-easy: #006837;

    --prog-done: var(--rate-good);
    --prog-hold: var(--rate-hard);

    --prog-review: var(--state-review);
    --prog-relearn: var(--state-learn);
    --prog-learn: gold;
    --prog-new: var(--state-new);
}

#lt-progress-bar {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    box-sizing: border-box;
    z-index: 1000;
    padding: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    background-color: var(--prog-bg);
/*    box-shadow: 0 0 7px #0004;*/
}

#lt-progress-bar span {
    flex-basis: 100%;
    display: block;
    height: 0;
}

.lt-progress-segment {
    flex-basis: 0;
    height: 5px;
    flex-grow: var(--count);

    background: oklch(from var(--state-color) calc(.75*l) calc(.5*c) h);
}

.lt-progress-segment.empty {
    height: 0;
}


.new {
    --state-color: var(--prog-new);
}

.learn {
    --state-color: var(--prog-learn);
}

.review {
    --state-color: var(--prog-review);
}

.re {
    --state-color: var(--prog-relearn);
}

.done {
    background: color-mix(in lab, var(--rate-color) 90%, var(--state-color));
}

.again {
    --rate-color: var(--rate-again);
}
.hard {
    --rate-color: var(--rate-hard);
}
.good {
    --rate-color: var(--rate-good);
}
.easy {
    --rate-color: var(--rate-easy);
}


.future {
    opacity: 0.4;
}


.lt-progress-segment.animated {
    transition: flex-grow 0.2s ease-in-out, height 0.2s ease-in-out;
}
