:root {
    --prog-bg: #e0e0e0;
    --prog-done: yellowgreen;
    --prog-review: royalblue;
    --prog-relearn: red;
    --prog-learn: gold;
    --prog-new: forestgreen;

    --rate-again: #a50026;
    --rate-hard: #fdbe70;
    --rate-good: #b6e076;
}
#lt-progress-bar {
    display: flex;
    width: 100vw;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: var(--prog-bg);
    z-index: 1000;
}
.lt-progress-segment {
    height: 100%;
    flex-basis: 0;
}
.lt-progress-segment.animated {
    transition: flex-grow 0.2s ease-in-out;
}

#prog-done { background-color: var(--prog-done); }

#prog-new-done { background-color: color-mix( in lab, var(--rate-good) 70%, var(--prog-new)); }
#prog-new-todo { background-color: var(--prog-new); }
#prog-lrn-done { background-color: var(--rate-good); }
#prog-lrn-hold { background-color: color-mix( in lab, var(--rate-again) 70%, var(--prog-learn)); }
#prog-lrn-todo { background-color: var(--prog-learn); }
#prog-lrn-ftr  { background-color: var(--prog-learn); opacity: 0.2; }
#prog-rev-done { background-color: color-mix( in lab, var(--prog-done) 70%, var(--prog-review)); }
#prog-rev-todo { background-color: var(--prog-review); }
#prog-rel-done { background-color: color-mix( in lab, var(--rate-good) 70%, var(--prog-relearn)); }
#prog-rel-hold { background-color: color-mix( in lab, var(--rate-again) 70%, var(--prog-relearn)); }
#prog-rel-todo { background-color: var(--prog-relearn); }
#prog-rel-ftr  { background-color: var(--prog-relearn); opacity: 0.2; }