:root {
    --prog-bg: #e0e0e0;

    /* Stat screen colors */
    --stat-again: #a50026;
    --stat-hard: #fdbe70;
    --stat-good: #b6e076;
    --stat-easy: #006837;

    /* AnkiDroid colors */
    --ad-again: #ffcdd2;
    --ad-again-text: #b71c1c;
    --ad-hard: #ffe0b2;
    --ad-hard-text: #b33800;
    --ad-good: #c8e6c9;
    --ad-good-text: #1b5e20;
    --ad-easy: #b3e5fc;
    --ad-easy-text: #01579b;

    --prog-done: var(--stat-good);
    --prog-hold: var(--stat-hard);

    --prog-review: var(--state-review);
    --prog-relearn: var(--state-learn);
    --prog-learn: gold;
    --prog-new: var(--state-new);
}

#lt-progress-bar {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    box-sizing: border-box;
    z-index: 1000;
    padding: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    background-color: var(--prog-bg);
/*    box-shadow: 0 0 7px #0004;*/
}

#lt-progress-bar span {
    flex-basis: 100%;
    display: block;
    height: 0;
}

.lt-progress-segment {
    flex-basis: 0;
    height: 5px;
    flex-grow: var(--count);

    background: oklch(from var(--state-color) calc(.8*l) calc(.8*c) h);
}

.lt-progress-segment.empty {
    height: 0;
}


.new {
    --state-color: var(--prog-new);
}

.learn {
    --state-color: var(--prog-learn);
}

.review {
    --state-color: var(--prog-review);
}

.re {
    --state-color: var(--prog-relearn);
}

.done {
    background: color-mix(in lab, var(--rate-color) 90%, var(--state-color));
}

.again {
    --rate-color: color-mix(in lab, var(--ad-again) 50%, var(--ad-again-text));
}
.hard {
    --rate-color: color-mix(in lab, var(--ad-hard) 50%, var(--ad-hard-text));
}
.good {
    --rate-color: color-mix(in lab, var(--ad-good) 50%, var(--ad-good-text));
}
.easy {
    --rate-color: color-mix(in lab, var(--ad-easy) 50%, var(--ad-easy-text));
}


.future {
    opacity: 0.4;
}


.lt-progress-segment.animated {
    transition: flex-grow 0.2s ease-in-out, height 0.2s ease-in-out;
}
